[submodule "WikibaseDataModel"]
	path = WikibaseDataModel
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/WikibaseDataModel.git
	branch = mw1.23-wmf1
[submodule "Wikibase"]
	path = Wikibase
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Wikibase.git
	branch = mw1.23-wmf1
[submodule "Diff"]
	path = Diff
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Diff.git
	branch = mw1.23-wmf1
[submodule "DataValues"]
	path = DataValues
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/DataValues.git
	branch = mw1.23-wmf1
[submodule "DataTypes"]
	path = DataTypes
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/DataTypes.git
	branch = mw1.23-wmf1
